/* -------------- Navbar Css Start -------------- */

.navbar-section div:nth-of-type(1) {
    flex-grow: 1;
}

.navbar-section div:nth-of-type(2) {
    flex-grow: 4;
}

.navbar-section div:nth-of-type(3) {
    flex-grow: 1;
}

.profile-part div:nth-of-type(1) {
    flex-grow: 1;
}

.profile-part div:nth-of-type(2) {
    flex-grow: 1;
}

.profile-part div:nth-of-type(3) {
    flex-grow: 2;
}

.navbar-section {
    padding: 30px 0px;
    border-bottom: solid 1px #ededed;
}

.navbar-logo {
    padding-left: 37px;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar {
    position: relative;
}

.search-bar::after {
    content: url(../img/search.png);
    position: absolute;
    left: 17px;
    top: 16px;
}

.search-input {
    position: relative;
    padding: 15px 153px 15px 65px;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    min-width: 480px;
}

.search-filter {
    position: relative;
    padding: 15px 0px 15px 25px;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
}

/* .search-input::before {
    content: url(../img/search.png);
    position: absolute;
    width: 21px;
    height: 21px;
} */

.filter-dropdown-btn {
    padding: 15px 0px 15px 25px;
    border: solid 1px #e7e7e7;
    border-radius: 8px;
    max-width: 217px;
    position: relative;
}

.filter-dropdown-btn::before {
    content: url(../img/down-arrow.png);
    position: absolute;
    right: 25px;
    top: 20px;
}

.profile-part {
    display: flex;
    text-align: center;
}

.profile-name {
    text-align: left;
}

.profile-name h6 {
    margin-bottom: 0px;
}

.profile-name p {
    margin-bottom: 0px;
}

.profile-info {
    display: flex;
}

/* -------------- Navbar Css End -------------- */

/* -------------- Main Section Css Start -------------- */

/* .main-section {
    padding: 45px 0px;
} */

.sidebar-strip {
    border: solid 1px #ededed;
    padding: 20px;
    border-top: none;

}

.sidebar-option {
    text-align: center;
}

.sidebar-row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    max-width: 185px;
    flex-wrap: wrap;
}

.sidebar-option {
    text-align: -webkit-center;
    width: 77px;
}

/* .sidebar-option-1 {
    text-align: -webkit-center;
    min-width: 77px;
}

.side-opt-1-img {
    text-align: center;
    border-radius: 6px;
    width: 44px;
    background-color: #ECEFF7;
    margin-bottom: 8px;
    padding: 10px;
}

.side-opt-1-img img {
    filter: invert(1);
}

.sidebar-option-1:hover .side-opt-1-img {
    background-color: #51459E;
}

.sidebar-option-1:hover .side-opt-1-img img {
    filter: none;
}

.sidebar-option-1:hover .side-opt-name p {
    color: #1C295D;
}

.sidebar-option-1 a {
    text-decoration: none;
    color: #7987A5;
} */

.f-img-inv {
    filter: invert(1);
}

.side-opt-img {
    text-align: center;
    border-radius: 6px;
    width: 44px;
    background-color: #ECEFF7;
    margin-bottom: 8px;
    padding: 10px;
}

.sidebar-option:hover .side-opt-img {
    background-color: #51459E;
}

.sidebar-option:hover .side-opt-img img {
    filter: brightness(4.5);
}

.sidebar-option:hover .side-opt-name p {
    color: #1C295D;
}

.sidebar-option a {
    text-decoration: none;
    color: #7987A5;
}

.side-opt-name {
    text-align: center;
}

/* -------------- Main Section Css End -------------- */


/* -------------- Main Section Css Start -------------- */

.folder-section {
    padding: 20px 0px;
    padding-left: 20px;
    width: 797px;
    overflow: hidden;
}

.folder-section .d-flex .folder-row {
    overflow-x: scroll;
}

.folder-box {
    padding: 20px;
    background-color: #F6F5FF;
    min-width: 193px;
    border-radius: 6px;
    box-shadow: 9px 58px 55px -24px #F6F5FF;
    -webkit-box-shadow: 9px 58px 55px -24px #F6F5FF;
    -moz-box-shadow: 9px 58px 55px -24px #F6F5FF;
    margin-left: 20px;
    margin-bottom: 25px;
}

.folder-box:first-child {
    margin-left: 0;
}

.folder-box:last-child {
    margin-right: 10px;
}

.green-folder {
    background-color: #F5FFFC;
    box-shadow: 9px 58px 55px -24px #F5FFFC;
    -webkit-box-shadow: 9px 58px 55px -24px #F5FFFC;
    -moz-box-shadow: 9px 58px 55px -24px #F5FFFC;
}

.yellow-folder {
    background-color: #FFF9F0;
    box-shadow: 9px 58px 55px -24px #FFF9F0;
    -webkit-box-shadow: 9px 58px 55px -24px #FFF9F0;
    -moz-box-shadow: 9px 58px 55px -24px #FFF9F0;
}

.orange-folder {
    background-color: #FFF5F5;
    box-shadow: 9px 58px 55px -24px #FFF5F5;
    -webkit-box-shadow: 9px 58px 55px -24px #FFF5F5;
    -moz-box-shadow: 9px 58px 55px -24px #FFF5F5;
}

.folder-box a {
    text-decoration: none;
}

.folder-box h5 {
    color: #505887;
    margin-top: 15px;
    margin-bottom: 15px;
}

.folder-box p {
    color: #718EBF;
    margin-bottom: 0px;
    font-size: 13px;
}

.folder-box .d-flex {
    justify-content: space-between;
}

.folder-box .d-flex img {
    height: fit-content;
}

.folder-section .folder-row {
    overflow-x: scroll;
    overflow-y: auto;
}

.folder-section .folder-row::-webkit-scrollbar-track {
    background-color: #c0bcd6;
}

.folder-section .folder-row::-webkit-scrollbar {
    height: 6px;
    float: left;
}

.folder-section .folder-row::-webkit-scrollbar-thumb {
    background-color: #51459E;
}

/*  -------- Quick Access Part Start --------  */

.quick-access-part {
    padding: 30px 0px;
}

.quick-access-part h4 {
    margin-bottom: 20px;
}

.quick-access-box-name {
    gap: 10px;
    justify-content: center;
    padding-top: 15px;
    background-color: #F5F5F5;
    padding-bottom: 15px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 25px;
}

.quick-access-box-name span {
    color: #7C8DB5;
}

.quick-access-box-name h6 {
    margin-bottom: 0px;
}

.quick-access-row {
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: auto;
}

.quick-access-row::-webkit-scrollbar-track {
    background-color: #c0bcd6;
}

.quick-access-row::-webkit-scrollbar {
    height: 6px;
    float: left;
}

.quick-access-row::-webkit-scrollbar-thumb {
    background-color: #51459E;
}

/*  -------- Quick Access Part End --------  */

/*  -------- Recent Upload Part Start --------  */

.recent-upload-part {
    padding: 30px 0px;
}

.recent-upload-heading h4 {
    margin-bottom: 20px;
}

/* .recent-upload-box {
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.recent-upload-box img {
    height: fit-content;
}

.recent-upload-box h5 {
    color: #505887;
    margin-bottom: 0px;
}

.recent-upload-box h5:last-child {
    margin-left: 100px;
} */

.recent-file-name h5 {
    margin-bottom: 0px;
    color: #505887;
}

.recent-file-name p {
    margin-bottom: 0px;
}

.recent-upload-part table tr td:first-child {
    padding-right: 20px;
}

.recent-upload-part table tr td:nth-child(3) {
    padding-left: 50px;
    padding-right: 50px;
}

.recent-upload-part table tr td:nth-child(4) {
    padding-left: 40px;
    padding-right: 40px;
}

.recent-upload-part table tr td h5 {
    color: #505887;
}

.recent-upload-part table tr td {
    padding-bottom: 20px;
}

.recent-upload-part table thead tr th {
    padding-bottom: 20px;
}

.recent-upload-part table thead tr th {
    text-align: center;
}

.recent-file-name {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 145px;
}

.recent-file-size {
    min-width: 72px;
}

.recent-upload-part table tr td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}

/*  -------- Recent upload Part End --------  */


body {
    border: solid 1px #333;
}

@media only screen and (max-width:992px) {
    .search-input {
        padding: 11px 1px 15px 50px;
        min-width: auto;
    }

    .filter-dropdown-btn {
        padding: 15px 50px 15px 15px;
    }

    .quick-access-box {
        margin-left: 10px;
    }

    .recent-upload-part table tr td:nth-child(1) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .recent-upload-part table tr td:nth-child(3) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .recent-upload-part table tr td:nth-child(4) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-logo {
        padding-left: 10px;
        padding-right: 10px;
    }

    .profile-part {
        gap: 10px;
        margin-left: 15px;
    }

    .sidebar-row {
        justify-content: center;
        gap: 15px;
    }

    .navbar-section {
        padding: 85px 0px 30px 0px;
    }

    .profile-part {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .sidebar-strip {
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 576px) {
    .recent-upload-part table tr td:nth-child(3) {
        padding-left: 15px;
        padding-right: 0px;
    }
    .recent-upload-part table tr td:nth-child(4) {
        padding-left: 10px;
        padding-right: 5px;
    }
    .recent-upload-part table tr td:nth-child(2) {
        padding-left: 5px;
        padding-right: 0px;
    }
    .recent-upload-part table tr td:nth-child(1) {
        padding-left: 0px;
        padding-right: 0px;
    }
    .recent-upload-part table tr td h5 {
        font-size: inherit;
    }
}

/* -------------- Main Section Css End -------------- */